@import url(http://fonts.googleapis.com/css?family=Monoton);
@import url(http://fonts.googleapis.com/css?family=Condiment);
html, body{
  background:#555;
}
body{
  margin:0;
}


/*===========================
|                           |
|     MAP STYLINGS          |
|                           |
=============================*/
.angular-google-map-container, .angular-google-map {
  height:100%;
  width:100%;
}
.angular-google-map-container img {
  max-width: none;
}

/*===========================
|                           |
|     NAVBAR STYLINGS       |
|                           |
=============================*/
#nav-container{
  width:100%;
}
.expanded {
  overflow: visible;
}
.top-bar .name h1 {
    font-family:Monoton;
    margin:0;
    font-size:1.875em;
    font-weight: normal;
    color:deeppink;    
    padding:0 0.5em;
}
#social {
  color: white;
  font-family: Condiment;
}
.name, #social, .icon-holder {
  display:inline-block;
}
.icon-holder{
  width:35px;
  height:100%;
  text-align: center;
  margin: 0 0 0 1em;
}
#pac-nest{
  height:100%;
}
#pac-input{
  border-radius: 5px;
}
.fi {
  cursor:pointer;
  vertical-align: middle;
  color:#ccc;
  transition:font-size 0.5s, color 0.5s;
  font-size:30px;
  display:inline-block;
  height:100%;

}
.fi:hover {
  font-size:35px;
  color:white;
}
/*============================
|                            |
|      INFOBOX STYLING       |
|                            |
=============================*/

#infobox img{
      border:2px solid white;
      margin-bottom:0.5em;
      width:100%;
    }
#infobox {
    border:2px solid black;
    margin-top: 8px;
    background:rgba(64, 64, 64, 0.75);
    color:#FFF;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    padding: 3em;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-shadow:0 -1px #000000;
    -webkit-box-shadow: 0 0  8px #000;
    box-shadow: 0 0 8px #000;
}
/*============================
|                            |
|    POST-DETAIL STYLING     |
|                            |
=============================*/
.post-detail{
  background:rgba(255,250,156, 0.75);
  text-align: center;
  padding-top:2.5em;
}
.post-detail img {
  display:block;
  margin:0 auto;
  border:2px solid black;
}
.reveal-modal .close-reveal-modal{
  color:#333;
}


