@import url(http://fonts.googleapis.com/css?family=Monoton);
@import url(http://fonts.googleapis.com/css?family=Condiment);
body{
  margin:0;
}


/*===========================
|                           |
|     MAP STYLINGS          |
|                           |
=============================*/
.angular-google-map-container, .angular-google-map {
  height:100%;
  width:100%;
}
.angular-google-map-container img {
  max-width: none;
}

/*===========================
|                           |
|     NAVBAR STYLINGS       |
|                           |
=============================*/
#nav-container{
  width:100%;
}
.expanded {
  overflow: visible;
}
.top-bar .name h1 {
    font-family:Monoton;
    margin:0;
    font-size:1.875em;
    font-weight: normal;
    color:deeppink;    
    padding:0 0.5em;
}
#social {
  color: white;
  font-family: Condiment;
}
.name, #social, .icon-holder {
  display:inline-block;
}
.icon-holder{
  width:35px;
  height:100%;
  text-align: center;
  margin: 0 0 0 1em;
}
#pac-nest{
  height:100%;
}
#pac-input{
  border-radius: 5px;
}
.fi {
  cursor:pointer;
  vertical-align: middle;
  color:#ccc;
  transition:font-size 0.5s, color 0.5s;
  font-size:30px;
  display:inline-block;
  height:100%;

}
.fi:hover {
  font-size:35px;
  color:white;
}


