<h1>My Collections</h1>
<ul>
  <li ng-repeat="collection in collections">
    <a editable-text="collection.name" onbeforesave="editCollection(collection._id, $data)">{{collection.name}}</a> <!--({{collection.posts}} photos in collection)--> 
  </li>
</ul>
<h4>New Collection</h4>
<form name="collectionForm" ng-submit="createCollection()" novalidate>
  <input type="text" ng-model='name' placeholder='Name'>
  <button type="submit" class="button" ng-disabled="collectionForm.$invalid">Create Collection</button>
</form>