<div id='infobox' ng-controller="boxCtrl">
  <!-- render done with ng-click until compiling this template with Foundation makes sense -->
  <a ng-if="isAuthenticated()"
     ng-click="getCollections()"
     class="fi fi-plus add"
     onbeforesave="addToCollection($data)"
     editable-select="post.collection" e-ng-options="c._id as c.name for c in collections"
     tooltip-animation="false" tooltip-placement="top" tooltip="Add to Collection..."></a>
  <a ng-click="like()" ng-if="isAuthenticated()" class="fi fi-heart like" ng-class="{'liked':templateParameter.post.liked, 'unliked':!templateParameter.post.liked}" tooltip-animation="false" tooltip-placement="bottom" tooltip="{{templateParameter.post.liked ? 'Liked!' : 'Like this Photo'}}"></a> <!-- also something to control color -->
  <img data-reveal-id="show-modal" src="{{templateParameter.post.mediaSmall}}" ng-click="templateParameter.click()">
  <div class='add-modal'>Click to enlarge</div>
  <div id="show-modal" class="reveal-modal medium bigInfoBox" data-reveal>
    <a href="{{templateParameter.post.link}}" target="_blank"><img src="{{templateParameter.post.mediaLarge}}"></a>
    <a class="close-reveal-modal">&#215;</a>
  </div>
</div>